* {
    margin: 0;
    padding: 0;
    box-sizing: 0;
    text-decoration: none;
    list-style: none;
}

:root {
    --clr-rosa: #CF2DF4;
    --clr-roxo: #8216DD;
    --clr-branco: #ffffff;
    --clr-black: #000000;
    --clr-transparente: #00000000;
}

body {
    font-family: 'Comfortaa', sans-serif;
}





/* #region sobre*/
#sobre {
    background: var(--clr-black);
    height: 100vh;

    .titulo {
        color: var(--clr-rosa);
        text-align: center;
        display: flex;
        justify-content: center;
        padding: 1.5rem;
        font-size: 2rem;
    }

    .texto {
        color: var(--clr-branco);
        text-align: center;
        padding: 1rem 10rem 0;
        font-size: 1rem;
    }

    .frase {
        color: var(--clr-branco);
        text-align: center;
        padding: 2rem 0 0;

        & .colorPink {
            color: var(--clr-rosa);
        }
    }

    .quality {
        display: flex;
        flex-direction: column;
        padding: 3rem;
        gap: 3rem;
        align-items: center;

        .missao-visao {
            display: flex;
            gap: 8em;
            width: 774.98px;

            & .missao,
            & .visao {
                border: 1px solid var(--clr-rosa);
                border-radius: 0.3rem;
                cursor: pointer;
                height: 3.5rem;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                position: relative;
                transition: all 0.3s ease;
                width: 50%;
                overflow: hidden;

                & h2 {
                    padding: .7rem 6rem;
                    font-size: 1.5rem;
                    color: var(--clr-rosa);
                    text-align: center;
                }

                .textMissao,
                .textVisao {
                    display: none;
                    color: var(--clr-branco);
                    text-align: center;
                    padding: 1rem;
                    margin-top: 1rem;
                }

                &:hover {
                    height: 250px;
                }

                &:hover .textMissao,
                &:hover .textVisao {
                    display: block;
                }
            }
        }

        .valores {
            border: 1px solid var(--clr-rosa);
            border-radius: 5px;
            background: var(--clr-transparente);
            padding: 0.8em;
            width: 747.5px;

            & .openValores {
                display: flex;
                list-style: none;
                justify-content: space-between;
                align-items: center;

                & .tab.active {
                    color: var(--clr-branco);
                    background: #CF2DF440;
                    border: 1px solid var(--clr-rosa);
                    border-bottom: none;
                    /* Remove a borda inferior da aba ativa */
                }

                & .tab {
                    padding: 0.8em 1em;
                    cursor: pointer;
                    background: none;
                    color: #bbb;
                    transition: 0.3s;
                    border-top-left-radius: 5px;
                    border-top-right-radius: 5px;
                    border-bottom: 1px solid var(--clr-rosa);

                    &:hover {
                        color: white;
                    }
                }
            }

            & .tab-content.active {
                display: block;
                margin: auto;
                border-bottom: 1px solid var(--clr-rosa);
                border-right: 1px solid var(--clr-rosa);
                border-left: 1px solid var(--clr-rosa);

            }

            & .tab-content {
                padding: 2em 1em 1em;
                display: none;
                background: #CF2DF440;
                border-radius: 0 0 0.2em 0.2em;
                color: var(--clr-branco);
            }
        }
    }

    @media (max-width: 1024px) {
        .missao-visao {
            gap: 4em; // Menos espaço entre os itens
            width: 90%; // Ajuste no tamanho das caixas
        }

        .missao,
        .visao {
            width: 100%;
            height: auto;
        }

        .quality {
            padding: 2rem;
            gap: 2rem;
        }
    }

    /* Para telas de 768px ou menos */
    @media (max-width: 768px) {
        .missao-visao {
            gap: 2em;
            width: 100%;
        }

        .missao,
        .visao {
            width: 100%;
            margin-bottom: 1rem;
        }

        .quality {
            padding: 1.5rem;
            gap: 1.5rem;
        }

        .tab {
            padding: 0.6em 1em;
        }

        .tab-content {
            padding: 1.5em 0.5em;
        }
    }

    /* Para telas de 480px ou menos */
    @media (max-width: 480px) {
        .titulo {
            font-size: 1.5rem;
        }

        .texto {
            padding: 1rem;
            font-size: 0.9rem;
        }

        .quality {
            padding: 1rem;
            gap: 1rem;
        }

        .missao-visao {
            gap: 1em;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 100%;
        }

        .missao,
        .visao {
            width: 100%;
            height: auto;
            margin-bottom: 1rem;

        }

        .textMissao,
        .textVisao {
            display: block;
            color: var(--clr-branco);
            text-align: center;
            padding: 1rem;
            margin-top: 1rem;
        }

        .openValores {
            flex-direction: column;
            align-items: flex-start;
        }

        .tab {
            width: 100%;
            padding: 1rem;
        }

        .tab-content {
            padding: 1.5em 0.5em;
        }
    }



    /* .line {
    margin: 0 auto; 
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid var(--clr-rosa);
    width: 400px; 
} */

    /* #endregion */