* {
    margin: 0;
    padding: 0;
    box-sizing: 0;
    text-decoration: none;
    list-style: none;
}

:root {
    --clr-rosa: #CF2DF4;
    --clr-roxo: #8216DD;
    --clr-branco: #ffffff;
    --clr-black: #000000;
    --clr-transparente: #00000000;
    --clr-roxo-escuro: #17002b;
}

body {
    font-family: 'Comfortaa', sans-serif;
}





/* #region sobre*/
#sobre {
    background: var(--clr-black);
    height: 100vh;

    .titulo {
        color: var(--clr-rosa);
        text-align: center;
        display: flex;
        justify-content: center;
        padding: 1.5rem;
        font-size: 2rem;
    }

    .texto {
        color: var(--clr-branco);
        text-align: center;
        padding: 1rem 10rem 0;
        font-size: 1rem;
    }

    .frase {
        color: var(--clr-branco);
        text-align: center;
        padding: 2rem 0 0;

        & .colorPink {
            color: var(--clr-rosa);
        }
    }

    .quality {
        display: flex;
        flex-direction: column;
        padding: 3rem;
        gap: 3rem;

        & h2 {
            display: flex;
            color: white;
        }

        .missao-visao {
            display: flex;
            gap: 8em;


            & .missao,
            & .visao {
                border: 1px solid var(--clr-rosa);
                border-radius: 0.3rem;
                cursor: pointer;
                height: 3.5rem;
                display: flex;
                align-items: center;
                flex-direction: column;
                position: relative;
                width: 50%;
                overflow: hidden;
                transition: 0.3s;

                & h2 {
                    padding: .7rem 6rem;
                    font-size: 1.5rem;
                    color: var(--clr-rosa);
                    text-align: center;

                }


                & .textMissao,
                & .textVisao {
                    transition: all .3s ease;
                    display: none;
                    color: var(--clr-branco);
                    text-align: center;
                    padding: 1rem;


                }

                &:hover {
                    border: 1px solid var(--clr-branco);
                    height: 200px;

                    & h2 {
                        color: var(--clr-branco);
                    }

                    & p {
                        color: var(--clr-rosa);
                    }

                    & .textMissao,
                    & .textVisao {
                        display: block;
                        opacity: 1;
                    }
                }
            }
        }

        .valores {
            border: 1px solid var(--clr-rosa);
            border-radius: 7px;
            padding: 1rem;
            margin: auto;

            .tab-container {

                background: var(--clr-transparente);
                border-radius: 5px;

                .tab-buttons {
                    display: flex;
                    position: relative;

                    & button {
                        flex: 1;
                        padding: 0.8em;
                        border: none;
                        background: none;
                        cursor: pointer;
                        font-size: 16px;
                        transition: 0.3s;
                        position: relative;
                        z-index: 2;
                        color: var(--clr-rosa);

                        &:hover {
                            color: var(--clr-branco);
                            background: #8216DD30;
                            border-radius: 5px 5px 0 0;

                        }

                        &.active {
                            color: var(--clr-branco);
                        }

                        & span {
                            position: relative;
                            z-index: 3;
                        }
                    }

                    &::after {
                        content: "";
                        position: absolute;
                        bottom: 0;
                        height: 1px;
                        width: 100%;
                        background: var(--clr-rosa);
                    }

                    button.active::before {
                        content: "";
                        position: absolute;
                        top: 0;
                        left: 0;
                        right: 0;
                        bottom: 0;
                        border: 1px solid var(--clr-rosa);
                        border-bottom: none;
                        border-radius: 5px 5px 0 0;
                        background: var(--clr-roxo-escuro);
                        z-index: 1;
                        color: #333;
                    }
                }


                .tab-content {
                    padding: 1em;
                    border-radius: 0 0 5px 5px;
                    background: var(--clr-roxo-escuro);
                    border: 1px solid var(--clr-rosa);
                    border-top: none;
                    color: var(--clr-branco);

                    .tab-pane.active {
                        display: block;
                    }

                    .tab-pane {
                        display: none;
                    }
                }
            }
        }
    }


    @media (max-width: 1024px) {
        .titulo {
            font-size: 1.5rem;
        }

        .texto {
            padding: 1rem 3rem 0;
        }

        .frase {

            padding: 1.5em 3em 0;

            & .colorPink {}
        }

        & .quality {
            .missao-visao {
                gap: 2em;
                width: 518px;

                & .missao,
                & .visao {

                    height: 2.5rem;


                    & h2 {
                        font-size: 1rem;
                        color: var(--clr-rosa);
                        text-align: center;
                        align-items: center;
                    }

                    .textMissao,
                    .textVisao {
                        display: none;
                        color: var(--clr-branco);
                        text-align: center;
                        padding: 1em;

                        font-size: 0.9em;
                    }

                    &:hover {
                        height: 250px;
                    }

                    &:hover .textMissao,
                    &:hover .textVisao {
                        display: block;
                    }
                }
            }

            .valores {
                border: 1px solid var(--clr-rosa);

                border-radius: 7px;
                padding: 1rem;
                margin: auto;
                box-shadow: inset 0 0 0 0.5px var(--clr-branco);
                box-sizing: border-box;

                .tab-container {
                    display: flex;
                    background: var(--clr-transparente);
                    border-radius: 5px;

                    .tab-buttons {

                        position: relative;
                        flex-direction: column;

                        & button {

                            flex: 1;
                            padding: 0.8em;
                            border-bottom: none;
                            background: none;
                            cursor: pointer;
                            font-size: 16px;
                            transition: 0.3s;
                            position: relative;
                            z-index: 2;
                            color: var(--clr-rosa);

                            &:hover {
                                color: var(--clr-branco);
                                background: #8216DD30;
                                border-radius: 5px 0 0 5px;
                            }

                            &.active {
                                color: var(--clr-branco);
                            }

                            & span {
                                position: relative;
                                z-index: 3;
                            }
                        }

                        &::after {
                            content: "";
                            position: absolute;
                            right: 0;
                            top: 0;
                            bottom: 0;
                            height: 100%;
                            width: 1px;
                            background: var(--clr-rosa);
                        }

                        button.active::before {
                            content: "";
                            position: absolute;
                            top: 0;
                            left: 0;
                            right: 0;
                            bottom: 0;
                            border: 1px solid var(--clr-rosa);
                            border-right: none;
                            border-radius: 5px 0 0 5px;
                            background: var(--clr-roxo-escuro);
                            z-index: 1;
                        }
                    }


                    .tab-content {
                        display: flex;
                        padding: 1em;
                        background: var(--clr-roxo-escuro);
                        border: 1px solid var(--clr-rosa);
                        color: var(--clr-branco);
                        border-radius: 0 5px 5px 0;
                        border-left: none;
                        justify-content: center;
                        align-items: center;

                        .tab-pane.active {
                            display: block;
                        }

                        .tab-pane {
                            display: none;
                        }
                    }
                }
            }
        }
    }

    @media (max-width: 768px) {
        .titulo {
            font-size: 1.5rem;
        }

        .texto {
            padding: 1rem 3rem 0;
        }

        .frase {

            padding: 1.5em 3em 0;

            & .colorPink {}
        }

        & .quality {
            display: flex;
            flex-direction: column;
            padding: 2rem;
            gap: 2rem;
            margin: auto;

            .missao-visao {
                display: flex;
                gap: 2em;
                width: auto;

                & .missao,
                & .visao {

                    border: 1px solid var(--clr-rosa);
                    border-radius: 0.3rem;
                    cursor: pointer;
                    height: 2rem;
                    display: flex;
                    align-items: center;
                    flex-direction: column;
                    position: relative;
                    overflow: hidden;
                    transition: 0.3s;

                    & h2 {
                        display: flex;
                        align-items: center;
                        padding: .5em 2em;
                        font-size: 1em;
                        color: var(--clr-rosa);
                        text-align: center;

                    }


                    & .textMissao,
                    & .textVisao {
                        transition: all .3s ease;
                        display: none;
                        color: var(--clr-branco);
                        text-align: center;
                        padding: 1rem;



                        & h2 {
                            font-size: 1rem;
                            color: var(--clr-rosa);
                            text-align: center;
                            align-items: center;
                        }

                        .textMissao,
                        .textVisao {
                            display: none;
                            color: var(--clr-branco);
                            text-align: center;
                            padding: 1em;

                            font-size: 0.9em;
                        }

                        &:hover {
                            height: 250px;
                        }

                        &:hover .textMissao,
                        &:hover .textVisao {
                            display: block;
                        }
                    }
                }

                .valores {
                    border: 1px solid var(--clr-rosa);

                    border-radius: 7px;
                    padding: 1rem;
                    margin: auto;
                    box-shadow: inset 0 0 0 0.5px var(--clr-branco);
                    box-sizing: border-box;

                    .tab-container {
                        display: flex;
                        background: var(--clr-transparente);
                        border-radius: 5px;

                        .tab-buttons {

                            position: relative;
                            flex-direction: column;

                            & button {

                                flex: 1;
                                padding: 0.8em;
                                border-bottom: none;
                                background: none;
                                cursor: pointer;
                                font-size: 16px;
                                transition: 0.3s;
                                position: relative;
                                z-index: 2;
                                color: var(--clr-rosa);

                                &:hover {
                                    color: var(--clr-branco);
                                    background: #8216DD30;
                                    border-radius: 5px 0 0 5px;
                                }

                                &.active {
                                    color: var(--clr-branco);
                                }

                                & span {
                                    position: relative;
                                    z-index: 3;
                                }
                            }

                            &::after {
                                content: "";
                                position: absolute;
                                right: 0;
                                top: 0;
                                bottom: 0;
                                height: 100%;
                                width: 1px;
                                background: var(--clr-rosa);
                            }

                            button.active::before {
                                content: "";
                                position: absolute;
                                top: 0;
                                left: 0;
                                right: 0;
                                bottom: 0;
                                border: 1px solid var(--clr-rosa);
                                border-right: none;
                                border-radius: 5px 0 0 5px;
                                background: var(--clr-roxo-escuro);
                                z-index: 1;
                            }
                        }


                        .tab-content {
                            display: flex;
                            padding: 1em;
                            background: var(--clr-roxo-escuro);
                            border: 1px solid var(--clr-rosa);
                            color: var(--clr-branco);
                            border-radius: 0 5px 5px 0;
                            border-left: none;
                            justify-content: center;
                            align-items: center;

                            .tab-pane.active {
                                display: block;
                            }

                            .tab-pane {
                                display: none;
                            }
                        }
                    }
                }
            }
        }
    }

    @media (max-width: 500px) {

        .titulo {
            font-size: 1rem;
        }

        .texto {
            padding: 0.8em 2em 0;
            font-size: .8em;
        }

        .frase {
            font-size: .8em;
            padding: 0.8em 2em 0;

            & .colorPink {}
        }

        & .quality {
            .missao-visao {
                gap: 2em;
                width: auto;
                display: flex;
                flex-direction: column;
                align-items: center;

                & .missao,
                & .visao {
                    height: 1.8em;


                    & h2 {
                        font-size: 0.8em;
                        color: var(--clr-rosa);
                        text-align: center;
                        align-items: center;
                    }

                    .textMissao,
                    .textVisao {
                        display: none;
                        color: var(--clr-branco);
                        text-align: center;
                        padding: 1em;

                        font-size: 0.8em;
                    }

                    &:hover {
                        height: 250px;
                    }

                    &:hover .textMissao,
                    &:hover .textVisao {
                        display: block;
                    }
                }
            }

            .valores {
                border: 1px solid var(--clr-rosa);

                border-radius: 7px;
                padding: 1rem;
                margin: auto;
                box-shadow: inset 0 0 0 0.5px var(--clr-branco);
                box-sizing: border-box;

                & h2 {
                    color: white;
                }

                .tab-container {
                    display: flex;
                    background: var(--clr-transparente);
                    border-radius: 5px;


                    .tab-buttons {

                        position: relative;
                        flex-direction: column;

                        & button {

                            flex: 1;
                            padding: 0.8em;
                            border-bottom: none;
                            background: none;
                            cursor: pointer;
                            font-size: 16px;
                            transition: 0.3s;
                            position: relative;
                            z-index: 2;
                            color: var(--clr-rosa);

                            &:hover {
                                color: var(--clr-branco);
                                background: #8216DD30;
                                border-radius: 5px 0 0 5px;
                            }

                            &.active {
                                color: var(--clr-branco);
                            }

                            & span {
                                position: relative;
                                z-index: 3;
                            }
                        }

                        &::after {
                            content: "";
                            position: absolute;
                            right: 0;
                            top: 0;
                            bottom: 0;
                            height: 100%;
                            width: 1px;
                            background: var(--clr-rosa);
                        }

                        button.active::before {
                            content: "";
                            position: absolute;
                            top: 0;
                            left: 0;
                            right: 0;
                            bottom: 0;
                            border: 1px solid var(--clr-rosa);
                            border-right: none;
                            border-radius: 5px 0 0 5px;
                            background: var(--clr-roxo-escuro);
                            z-index: 1;
                        }
                    }


                    .tab-content {
                        display: flex;
                        padding: 1em;
                        background: var(--clr-roxo-escuro);
                        border: 1px solid var(--clr-rosa);
                        color: var(--clr-branco);
                        border-radius: 0 5px 5px 0;
                        border-left: none;
                        justify-content: center;
                        align-items: center;

                        .tab-pane.active {
                            display: block;
                        }

                        .tab-pane {
                            display: none;
                        }
                    }
                }
            }
        }
    }
}



/* .line {
    margin: 0 auto; 
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid var(--clr-rosa);
    width: 400px; 
    } */

/* #endregion */

/* #region */

/* #endregion */